* {
  font-weight: 100;
  font-family: serif;
}
body {
  background: radial-gradient(circle, #fff, #bbb);
  padding: 25px;
  /* display: flex; */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 5px;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

img:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

img:nth-child(6) {
  grid-row: span 3;
  transition: all 3s;
}
img:nth-child(6):hover {
  grid-row: span 2;
}
img:nth-child(10) {
  grid-row: span 3;
}
img:nth-child(18) {
  grid-row: span 3;
}
/* .grid-container {
  display: grid;
  /* grid-template-rows: 150px 150px 150px 150px; *
  grid-template-columns: repeat(3, minmax(120px, 1fr));
  grid-template-rows: repeat(3, 200px);
  grid-auto-rows: 150px;
  border: 1px solid #000;
  background-color: #333;
  grid-gap: 10px;
  grid-auto-flow: dense;
  /* justify-items: center;
  align-items: center; *
  place-items: center;
  /* grid-row-gap: 10px; */
/* grid-column-gap: 10px; *
}

/* grid dinamico
-- minmax -- del minimo al maximo tamaño
-- max-content -- Depende a lo largo del texto o contenido
-- min-content -- Depende al pequeño que puede ir el texto

-- auto-fill -- crear celdas hasta las medidas que asignamos
-- auto-fit -- se va acomodando a la grid las celdas que hemos creado 
*/

/* Alineacion y control de flujo 
Diferencia con flex:
-- la alineacion es dentro de cada celda y no alineacion total del flex container.
-- cada celda seria un flex container.

propiedades del grid container
jusftify-items (horizontalemnte)
align-items (verticalmente)
stretch(default) - start -center - end - 
space-arround - space-between - spae-evenly 
place-items: align-items + justify-items
*/

/* Aplicado al grid item
-- align-self (verticalmente
-- justify-self (horizontalmente)
-- place-self: align-self + justify-self
stretch(default) - start - center - end

-- order (igual que en flex*

.grid-item {
  border: 2px solid #000;
  background-color: #999;
  font-size: 30px;
  padding: 50px;
  /* grid-column: 1 /3; *
}

.grid-item:first-child {
  place-self: start;
  /* align-self: start;
  justify-self: start; *
  background: #900;
}

.grid-item:nth-child(3) {
  /* place-self: end start *
  justify-self: end;
  align-self: start;
  background: #900;
}

.grid-item:nth-child(4) {
  justify-self: end;
  /* order:1; *
}
.grid-item:nth-child(5) {
  background: yellow;
}
.grid-item:nth-child(6) {
  justify-self: start;
}
.grid-item:nth-child(7) {
  align-self: end;
  justify-self: start;
  background: #900;
}

/* .grid-item:last-child(){} *
.grid-item:nth-child(9) {
  place-self: end;
  /* align-self: end;
  justify-self: end; *
  background: #900;
} */
/* .grid-item:first-child {
  background: red;
  grid-column: 1/3;
  grid-row: 1/3;
} */
/* .grid-item:nth-child(3) {
  background: yellow;
  grid-column: 3 / span 1;
  grid-row: 3 / span 2;
  grid-column: 3/4;
  grid-row: 3/4;
  /* grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4; 
} */

/* grid implicito y explecito
-- grid-auto-rows (igual que el template)
-- grid-auto-column (igual que el template)
-- grid-auto-flow: Row(Default), Column y Dense

 */

/* Grid - propiedades
 unidades "auto" y fr (flex
 repeat

-- grid-templete-row (grid container)
-- grid-templete-column (grid container)
-- grid-row-gap ( grid container)
-- grid-column-gap ( grid container)
-- grid-gap: row column (grid container)
-- grid-row-start (grid item)
-- grid-row-end (grid item)
-- grid-column-start (grid item)
-- grid-column-end (grid item)
-- grid-row (grid item)
-- grid-column (grid item)


 */
/* Grid
-- Grid container
-- "" item 
-- "" Cell
-- "" Tracks (Column + Row)
-- "" Area
-- "" Line (Column line y Row line*/

/* .flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: #222;
  margin: 50px 50px;
  padding: 20px;
  border-radius: 2px;
  border: 14px solid #000;
  outline: 3px solid #094;

}

.form {
  min-width: 400px;
  flex: 1;
  text-align: center;
  padding: 30px;
  order: 5;
}
.form__input {
  color:#fff;
  width: 100%;
  padding: 7px;
  margin: 6px 0;
  border: none;
  border-bottom: 3px solid #094;
  background: transparent;
  order: 2;
}

.form__input:focus{
  background: linear-gradient(to bottom, transparent, #111);
  outline: none;
  border-bottom: 3px solid #5ca;
}

.form textarea {
  min-height: 140px;
  resize: none;
}
.form-img {
  flex: 1;
  display: flex;
  padding: 10px;
  min-width: 300px;
  max-width: 400px;
  order: 2;
}

.form-img div {
  padding: 10px;
}

.img-container {
  margin: auto;
}

.img-container div {
  background-color: #094;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  padding: 40px;
}

.form-img img {
  width: 80%;
  margin: auto;
  border-radius: 4px;
}

.form input[type="submit"]{
  background-color: #094;
  border-bottom: none;
  padding: 12px;
}
.form input[type="submit"]:hover{
  background-color: #072;
  border-bottom: none;
  padding: 12px;
}
.form input[type="submit"]:focus{
background: #094;
}
.form input[type="submit"]:active{
background: linear-gradient(to bottom, #072, #050);
} */

/* .flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100vh;
  flex-direction: row-reverse;
 align-items: center; 
 align-content: center;
  flex-direction: column;
  transform: rotate(90deg);
  margin-right: 127px;
  margin-top: 50px;
}

.flex-item{
  background-color: #248;
  color: white;
  margin: 5px;
  height: 100px;
  flex-grow: 1;
  min-width: 150px;
  text-align: center;
  width: 300px;
  
}

.orange{
  background: orange;
  flex-basis: 200px;
  flex: 1 0 350px;
  order: 4;
}

.red{
  background: red;
  flex-grow: 1;
  align-self: baseline;
  flex-shrink: 2;
} */

/* Flex -- estas son propiedades para los items
-- align-self: alineacion en el cross-axis
-- margin: actua diferente dentro de un contenedor flex, por que
en vez de quedarse en el ubicacion que uno lo pone, va al contrario de
esa orden
-- flex-grow: ajusta el espacio sobrante a los items
-- flex-basis: esta es el como el width pero es mas especial e importante para el flex
-- flex-shrink: cede espacio del que ocupa para que las otros items agarren
-- order: es como z-index pero en el eje en el que apunta el main axis 
*/

/* Flex -- estas son propiedades para los contenedores de los items
-- display:flex hay que darle un alto y un ancho por que si no no aparecen
-- flex-direction: es un eje, le da un direccion
-- flex-wrap: El resultado es que todos los ítems se alinearán en una solo fila, usando el tamaño 
del contenedor como su tamaño en el eje principal. Si hay más ítems de los que caben en el contenedor, 
estos no pasarán más abajo si no que sobrepasarán el margen.
-- flex-flow: es la union de flex-direction y flex wrap, ejemplo: flex-flow: column wrap
-- justent-content(main-axis(vertical)): es para ponerle un centrarlo o ponerle una aliniacion en view
-- align-items (cross-axis(horizontal)): alineacion de los items dentro del container y le cierdos margenes a los items
-- align-content: alineacion del contenido 
-- aligh-self: La propiedad align-self especifica la alineación del elemento seleccionado dentro del contenedor flexible. 
Nota: La propiedad align-self anula la propiedad align-items del contenedor flexible.*/

/* .nav__responsive-ul {
  display: none;
}

.nav {
  background-color: darkblue;
}

.nav__li {
  display: inline-block;
  padding: 12px;
  color: white;
}

.nav__li:hover > a {
  color: #ccc;
}

.nav__li:hover {
  color: #ccc;
}
/* > -- entrar a tal etiqueda, ejemplo: .nav__li entrar a */
/*.nav__li a {
  color: white;
  text-decoration: none;
}

.nav__li i {
  width: 20px;
  box-sizing: border-box;
  text-align: right;
  margin-right: 5px;
}

.nav__responsive-button-container {
  position: absolute;
  width: 100%;
  font-size: 25px;
  background-color: #69c;
  margin-top: -64px;
  z-index: 100;
}

.nav__responsive-button {
  padding: 6px 20px;
  text-align: right;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .nav__ul {
    display: none;
  }
  .nav {
    height: 37px;
    width: 100%;
  }
  .nav__responsive-ul {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 37px;
    padding-top: 27px;
    height: 37px;
  }
  .nav__li-container {
    position: relative;
    top: -1000px;
    /* height: 100%; 
    height: calc(100vh - 64px);
    background-color: #746ab8;
    transition: all 1s;
    z-index: 1;
    width: 75%;
    padding-top: 27px;
  }
  .nav__responsive-li {
    width: 100%;
    padding: 9px 20px;
  }

  .nav__responsive-li i {
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
    width: 30px;
    color: #016;
  }

  .nav__responsive-li a {
    color: #016;
    text-decoration: none;
  }
  .nav__responsive-ul:hover > .nav__li-container {
    top: -27px;
  }
} */
