* {
  font-size: 20px;
  font-weight: 100;
  font-family: serif;
  padding: 0px;
  margin: 0px;
}
/*
.Rey {
  color: rgba(7, 213, 245, 0.623);
}

h2 {
  color: blue;
}

button {
  color: yellow;
}

#Go {
  background-color: black;
}

[veloz="sii"] {
  color: green;
}

h1 p {
  background-color: violet;
}

h3 b {
  background-color: steelblue;
}

h3 b span {
  color: turquoise;
}
h3 b:hover {
  color: turquoise;
}

button:hover {
  color: aqua;
}

/* Selector universal --> * */
/* Selector por etiqueta --> h1 */
/* Selector por clase --> .Rey */
/* Selector por ID: tiene que ser unico el ID y utilizarlo uno por etiqueta --> #Go  */
/* Selector por atributo --> <h1 veloz="sii"></h1> => [veloz="sii"] */
/* Selector por descendiente --> <h1><p></p></h1> => h1 p */
/* Selecotr por pseudo-clases */

/* #Go {
  color: yellow;
}

button {
  color: red !important;
} */
/* utilizar !important cuando sea la etiqueta 
sea unica o no se valla a cambiar en un futuro */

/* Especificidad de mayor a menor por jeraquia
 -------> !important
 ------> estilos en linea
 -----> Idenficadores - ID
 ----> Clases
 ----> Pseudo-clases
 ----> Atributos
 ---> Elementos
 ---> Pseudo-elementos */
/* Por el nivel de jerarquia se mueve en cascada */



/* Metodologia BEM */
/* .contact-form_input:first-child{
    color: red;
}

.contact-form_input--active{
    color: blue;
}


/* Unidades */
/* .contact-form{
font-size: 22px;
background-color: black;
width: 50vw;
height: 50vh;
} */

/* .contact-form__h2{
    font-size: 2em;
} */
/* REM : tiene como referencia el root 
y tambien se usa bastante*/
/* em - 16px
 */


 /* Propiedades de texto */
 /* .contact-form{
    font-family: 'Times New Roman', cursive;
    line-height: 1;
    font-weight: 100;
    /* font-stretch: normal; 
    font-variant: small-caps;
 }  */

/* Teoria de cajas */
/* h2{
    display: inline;
    height: 400px;
    width: 100px;
}

p{
    height: 400px;
    width: 100px;
} */

h2{
    background-color: red;
    display: inline-block;
    padding: 20px 30px ;
    box-sizing: content-box;
    text-align: center;
    margin: 10px;
}



/* padding: arriba, derecha, abajo, izquierda */


 